@charset "utf-8";
/* =reset 网页样式重置出现滑动条*/
html { font-size: 1em; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight: rgba(0,0,0,0); -webkit-text-size-adjust: none; overflow: -moz-scrollbars-vertical; }
label { cursor: pointer; }
a:link, a:visited { text-decoration: none; }
input:focus { outline: none; }
input, button, select, textarea { outline: none;/*-webkit-appearance:none;*//*强制去除表单自带的样式*/ }
textarea { resize: none;/*-webkit-appearance:none;*//*强制去除textarea自带的样式*/ }
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
} /*利用阴影来填充掉input自动填充色*/
textarea, input, select { background: none; border: none; margin: 0; padding: 0; }
input[type="button"], input[type="submit"], input[type="reset"] { -webkit-appearance: none; }
textarea { -webkit-appearance: none; }
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var { margin: 0; padding: 0; }
article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block; } /*html5设置*/
h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub { font-size: 1em; }
body, input, button, select, textarea, sub { font-family: Arial, sans-serif; }
em, cite, address, optgroup { font-style: normal; }
kbd, samp, code { font-family: monospace; }
img, input, button, select, textarea { vertical-align: middle; outline: none; }
ul, ol { list-style: none; }
img, fieldset { border: 0; }
abbr, acronym { cursor: help; border-bottom: 1px dotted black; }
table { width: 100%; border-spacing: 0; border: 0; }
table th, table td { border: 0; }
legend, hr { overflow: hidden; position: absolute; top: 0; left: 0; }
legend, hr, caption { visibility: hidden; font-size: 0; width: 0; height: 0; line-height: 0; }
.x1, .x2, .x3 { height: 1px; background: #d1d1d1; -webkit-transform: scaleY(0.5); -webkit-transform-origin: 0 0; overflow: hidden; clear: both; }
.bt { font-size: 16px; margin-top: 0px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px; }
.nr { margin-right: auto; margin-left: auto; color: #333; position: relative; overflow: hidden; width: 1100px; }
.nr table { width: 100%; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #e7e7e7; border-right-color: #e7e7e7; border-bottom-color: #e7e7e7; border-left-color: #e7e7e7; margin-top: 8px; margin-bottom: 8px; padding: 0px; margin-right: 0px; margin-left: 0px; }
.nr table tr { margin: 0px; padding: 0px; }
.nr table tr td { font-size: 12px; width: auto; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #e7e7e7; border-top-width: 0px; border-right-width: 0px; border-left-width: 1px; border-left-style: solid; border-left-color: #e7e7e7; padding-top: 5px; padding-right: 15px; padding-bottom: 5px; padding-left: 15px; margin: 0px; border-top-style: none; border-right-style: none; }
.nr img { max-width: 100%; }
br { margin: 0px; padding: 0px; height: 1px;  }
.you { float: right; }
@media screen and (max-width: 1200px) {
.nr { width: auto; padding-right: 5px; padding-left: 5px; }
.nr table { overflow: auto; }
}
.ym { }
.ym .ym1 { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #f2f2f2; line-height: 36px; font-family: "宋体"; font-size: 12px; }
.ym .ym1 a { color: #333; text-decoration: none; display: inline-block; margin-left: 8px; }
.ym .ym2 { padding-top: 20px; padding-bottom: 15px; }
/* 自动导航S */
.nf_dh { height: 46px; padding-right: 10px; padding-left: 10px; position: relative; z-index: 99999; background-color: #31897D; background-image: url(/up/images/ico/dhbj.png); background-repeat: repeat-x; background-position: center; }
/*主导航*/
.nf_dh ul { padding: 0px; list-style-type: none; display: block; width: 1100px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }
.nf_dh ul li { display: inline-block; position: relative; line-height: 46px; height: 46px; *float: left;
width: 12%; }
.nf_dh ul li a { color: #fff; text-decoration: none; display: block; padding-right: 20px; padding-left: 20px; font-weight: 100; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 12pt; text-shadow: -1px -1px -1px #FFF; text-align: center; }
.nf_dh a:hover, .nf_dh a.on { background-color: #2E7E75; }
/*二级导航*/
.nf_dh ul li ul { position: absolute; visibility: hidden; background-color: #f2f2f2; display: block; width: 150px; filter: alpha(Opacity=100); -moz-opacity: 0; opacity: 0; padding-top: 10px; padding-bottom: 10px; background-color: #f9f9f9; min-width: 100px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); font-family: "宋体"; border-radius: 1px; }
.nf_dh ul li ul:before { content: ""; width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid #fff; position: absolute; top: -4px; left: 60px; }
.nf_dh ul li:hover ul { visibility: visible; filter: alpha(Opacity=100); -moz-opacity: 1; opacity: 1; }
.nf_dh ul li:hover ul li ul { visibility: hidden; filter: alpha(Opacity=100); -moz-opacity: 0; opacity: 0; }
.nf_dh ul li ul li { display: block; position: relative; line-height: 30px; height: 30px; float: none; width: 100%; }
.nf_dh ul li ul li a { font-size: 11pt; line-height: 30px; height: 30px; overflow: hidden; font-weight: 200; color: #333; text-align: center; text-shadow: #000 0px 0px 0px }
.nf_dh ul li ul li a:hover { color: #F00; background-color: #f2f2f2; }
/*三级导航*/
.nf_dh ul li ul li ul { top: -40px; position: absolute; left: 150px; filter: alpha(Opacity=100); -moz-opacity: 0; opacity: 0; background-color: #f2f2f2; }
.nf_dh ul li ul li ul li a { font-size: 12px; }
.nf_dh ul li ul li ul li a:hover { color: #F60; }
.nf_dh ul li ul li:hover ul { position: relative; visibility: visible; opacity: 90; }
.nf_dh ul li ul li ul:before { content: ""; border-left: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid #fff; }
/*移动端*/
.nf_mdh { display: none; position: relative; z-index: 999999999999; }
.nf_mdh span { position: absolute; top: 15px; left: 0px; }
.nf_mdh ul, .nf_mdh li { margin: 0px; padding: 0px; list-style-type: none; }
.nf_mdh .san a { display: block; width: 22px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #d1d1d1; margin-top: 12px; margin-right: auto; margin-left: auto; height: 20px; position: absolute; z-index: 9999; top: 0px; right: 5px; text-shadow: -1px -1px -1px #FFF; }
.nf_mdh .san a s { display: block; border-top-width: 2px; border-top-style: solid; border-top-color: #d1d1d1; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #d1d1d1; height: 7px; margin-bottom: 7px; }
.nf_mdh .san a:hover { border-color: #0C6; }
.nf_mdh .san a:hover s { border-color: #0C6; }
.nf_mdh span .menu { position: absolute; background-color: #f9f9f9; min-width: 100px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; visibility: hidden; left: 240px; width: 200px; list-style-type: none; margin: 0px; padding-right: 40px; padding-top: 10px; padding-bottom: 10px; display: none; }
.nf_mdh span .menu li a { display: block; line-height: 30px; font-size: 14px; color: #000; text-decoration: none; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: #CCC; margin-left: 15px; font-weight: 700; text-align: left; }
.nf_mdh span .menu li ul li a { color: #333; font-weight: 300; }
.nf_mdh span .menu li ul li ul li a { color: #666; font-size: 12px; }
.nf_mdh span ul li ul { margin-left: 16px; }
.nf_mdh span:hover .menu { visibility: visible; left: -240px; display: block; }
.menu div:hover .nf_mdh span .menu { display: none; }
@media screen and (max-width: 1100px) {
/*.nf_dh{ display: none; }*/
.nf_mdh { display: block; }
}
input, button { border: none; outline: none; }
/*搜索框*/
* { box-sizing: border-box; }

.dl { padding: 10px; border-radius: 3px; box-sizing: border-box; margin-top: 50px; margin-right: 20px; margin-bottom: 20px; margin-left: 20px; }
.dl span { background-color: #BF9D73; height: 2px; width: 32px; display: block; margin-bottom: 30px; }
.dl h3 { padding: 0px; margin-top: 0px; margin-bottom: 2px; font-size: 18px; font-weight: normal; }
.dl em { font-style: normal; }
.dl label,.gq label{ font-size: 12px; vertical-align: middle; position: relative; overflow: hidden; display: block; margin: 0px; padding: 0px; }
.dl .you a { color: #BF9D73; font-size: 12px; margin-left: 10px; }
.dl label b{ position: absolute; z-index: 1; left: 0px; top: 0px; font-size: 12px; text-align: justify; font-weight: normal; line-height: 40px; }


.ss { position: relative; padding: 0px; float: right; }
.ss input { border: 2px solid #31897D; border-radius: 5px; background: transparent; height: 42px; padding-left: 13px; width: 300px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; font-size: 14px; }
.ss input:focus { width: 320px; }
.ss button { border-radius: 0 5px 5px 0; top: 0; right: 0; height: 42px; width: 60px; cursor: pointer; position: absolute; background-color: #31897D; }
.ss button:before { content: "搜索"; font-size: 13px; color: #fff; }
.ss a { font-family: "宋体"; font-size: 12px; color: #999; text-decoration: none; display: inline-block; margin-right: 10px; margin-top: 6px; }
.yj { font-size: 12px; color: #666; text-align: center; margin-top: 20px; background-color: #e7e7e7; padding-top: 40px; padding-bottom: 30px; }
.yj img { margin-top: 10px; margin-bottom: 10px; }
.yj p { font-size: 10pt; color: #666; line-height: 180%; word-spacing: 1px; }
.tab { margin-bottom: 15px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E7E7E7; padding-bottom: 5px; background-color: #FFF; padding-top: 5px; overflow: hidden; }
.tab a:link { line-height: 36px; display: inline-block; }
.diqu, .rq , .ly ,.wz{ font-size: 12px; color: #666; margin-bottom: 10px; }
.diqu ul li, .rq ul li ,.ly ul li,.wz ul li { display: inline; line-height: 30px; }
.diqu a, .rq a,.ly a,.wz a{ padding-right: 8px; padding-left: 8px; display: inline-block; }
.tab .on, .diqu .on, .rq .on ,.ly .on,.wz .on{ color: #FFF; background-color: #31897D; border-radius: 3px; }

.lie { font-size: 10pt; border: 1px solid #E7E7E7; padding-bottom: 20px; }
.lie .bt { padding-top: 4px; padding-bottom: 4px; border-radius: 3px 3px 0px 0px; }
.lie .bt #sx { cursor: pointer; }
.lie .bt #sx span { float: right; }
.lie .bt li { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E7E7E7; padding-bottom: 0px; margin-right: 1px; margin-left: 1px; padding-right: 10px; padding-left: 10px; line-height: 30px; }
.lie .bt li * { font-weight: bold; color: #31897D; font-size: 10pt; border-bottom-color: #31897D; }
.lie li { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #f2f2f2; padding-bottom: 7px; margin-right: 10px; margin-left: 10px; padding-top: 7px; }

.lie li a:link { padding-right: 8px; padding-left: 8px; display: block; color: #000;}
.lie li a:hover { color: #31897D; }

.lie li a s { color: #666; text-decoration: none; width: 10%; display: inline-block; height: 20px; line-height: 20px; overflow: hidden; white-space: nowrap; }
.lie li a b { text-decoration: none; display: inline-block; line-height: 20px; font-weight: normal; width: 65%; padding-left: 40px;overflow: hidden; }
.lie li a b font { font-size: 12px; font-family: "宋体"; margin-left: 5px; }
.lie li a u { color: #666; text-decoration: none; width: 11%; display: inline-block; height: 20px; line-height: 20px; overflow: hidden; font-weight: normal; text-align: left; text-overflow: ellipsis; white-space: nowrap; }
.lie li a span{ font-size: 11px; color: #FFF; background-color: #1DD670; margin-right: 5px; display: inline-block; padding-right: 5px; padding-left: 5px; border-radius: 2px; line-height: 19px; margin-left: -39px; }
.lie li a:visited { color: #666;}

.lietu { overflow: hidden; margin: 0px; }
.lietu li { float: left; width: 25%; }
.lietu li a { display: block; margin-right: 20px; margin-bottom: 20px; }
.lietu li a:hover { color: #0C6; }
.lietu li a img { width: 100%; height: 150px; }
.lietu li b { display: block; font-size: 16px; font-weight: normal; line-height: 30px; height: 30px; margin-top: 5px; overflow: hidden; }
.lietu li s { display: block; font-size: 12px; color: #666; text-decoration: none; }
.bk { margin-top: 20px; padding-bottom: 10px; border-radius: 4px; background-color: #FFF; }
#fenye { margin-top: 10px; margin-right: 20px; margin-left: 20px; text-align: center; }
#gb { display: none; }
 @media screen and (max-width: 1100px) {
.lie li a b { width: 100%; text-overflow: none; white-space: none; }
.lie li a s { width: 80px; }
.lie li a u { width: 50px; }
.tab, .diqu, .rq { }
.bk { margin-top: 5px; margin-bottom: 5px; }
.lie li a b { display: block; }
.lie #m1 { display: none; }
}
.tab .nr img { height: 36px; width: 36px; float: right; margin-top: 0px; -webkit-transition: all 1s; -moz-transition: all 1s; -ms-transition: all 1s; -o-transition: all 1s; transition: all 1s; border-radius: 3px; }
.tab .nr img:hover { background-color: #31897D; }
.caidan { margin-top: 20px; margin-bottom: 20px; }
.caidan .nr ul { border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; border-top-color: #e7e7e7; border-left-color: #e7e7e7; overflow: hidden; }
.caidan .nr ul li { float: left; width: 10%; }
.caidan .nr ul li a { font-size: 12px; color: #666; text-align: center; border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; border-right-color: #e7e7e7; display: block; border-bottom-color: #e7e7e7; -webkit-transition: all 1s; -moz-transition: all 1s; -ms-transition: all 1s; -o-transition: all 1s; transition: all 1s; padding-top: 5px; padding-right: 5px; padding-bottom: 15px; padding-left: 5px; }
.caidan .nr ul li a:hover { color: #FFF; background-color: #BB0018; }
.caidan .nr ul li a img { display: block; margin-right: auto; margin-left: auto; margin-bottom: 10px; margin-top: 10px; border-radius: 5px; }
.b30 { float: left; width: 33%; }
.b34 { float: right; width: 32%; }
.b50 { float: left; width: 50%; }
.b60 { float: left; width: 68%; overflow: hidden; }
.bt1 a { float: right; color: #CCCCCC; font-size: 24px; text-decoration: none; line-height: 28px; display: block; width: 28px; text-align: right; font-weight: lighter; height: 28px; }
.bt1 { font-size: 18px; line-height: 30px; font-weight: bold; display: block; padding: 10px; }
.lb1 ul li a { font-size: 10pt; color: #333; line-height: 30px; height: 30px; overflow: hidden; display: block; padding-right: 55px; padding-left: 10px; position: relative; white-space: nowrap; text-overflow: ellipsis; }
.lb1 li a:hover { color: #337D7A; }
.lb1 ul h3 img { height: 130px; margin-bottom: 6px; display: block; width: 96%; margin-right: auto; margin-left: auto; }
.lb1 .b50 ul { border: 1px solid #e7e7e7; margin-right: 10px; padding-bottom: 10px; }
.lb1 .b34 ul { border: 1px solid #e7e7e7; padding-top: 0px; padding-right: 10px; padding-bottom: 17px; padding-left: 10px; }
.lb1 .b60 ul { border: 1px solid #e7e7e7; margin-bottom: 10px; padding-right: 10px; padding-bottom: 17px; padding-left: 10px; }
.lb1 ul li a s { position: absolute; top: 0px; right: 0px; text-decoration: none; line-height: 30px; background-color: #FFF; padding-right: 10px; padding-left: 5px; }
.bt1 p { background-color: #31897D; height: 2px; width: 32px; margin: 0px; padding: 0px; }
.lb1 { margin-bottom: 10px; overflow: hidden; }
.lb1 .gg { clear: both; }
.lb1 .gg ul { border: 1px solid #e7e7e7; margin-top: 0px; margin-bottom: 10px; overflow: hidden; margin-right: 10px; padding-top: 10px; }
.lb1 .gg ul li { float: left; width: 33.33%; text-align: center; }
.lb1 .gg ul li a { display: block; line-height: 104px; height: 100px; padding: 0px; margin: 2px; }
.lb1 .gg ul li a:hover { margin-top: 0px; }
.gg2 { padding-right: 0px; margin-top: 10px; margin-bottom: 10px; margin-right: 0px; margin-left: 7px; }
.gg2 li a img { margin-bottom: 0px; }
.gg2 li a img:hover { -webkit-filter: brightness(110%); filter: brightness(110%); }
.cp { overflow: hidden; background-color: #f2f2f2; padding-top: 20px; padding-bottom: 20px; margin-top: 20px; }
.cp ul li { float: left; width: 20%; }
.cp ul { overflow: hidden; }
.cp ul li a { display: block; margin-left: 15px; background-color: #FFF; height: 320px; margin-bottom: 15px; position: relative; }
.cp ul li .cpbt { margin-left: 0; }
.cp .nr ul li a img { width: 100%; }
.cp ul li .cpbt img { height: 100%; }
.cp .nr ul li a b { color: #333; text-decoration: none; display: block; font-weight: normal; text-align: center; margin-top: 10px; padding-right: 3px; padding-left: 3px; margin-bottom: 6px; font-size: 14px; }
.cp .nr ul li a u { font-size: 12px; color: #666; text-decoration: none; text-align: center; display: block; line-height: 20px; height: 20px; padding-right: 3px; padding-left: 3px; }
.cp .nr ul li a s { color: #EB5F4C; text-decoration: none; text-align: center; display: block; }
.cp .nr ul li a span { color: #FFF; background-color: #0C6; position: absolute; top: 0px; right: 10px; font-size: 12px; line-height: 20px; padding-right: 8px; padding-left: 8px; }
.cp ul li .cpdi { height: 152px; }
/* 向上滚动 */
.gundong-top { overflow: hidden; position: relative; padding-right: 230px; height: 400px; }
.gundong-top .bd { background-color: #FFF; display: block; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; height: 350px; }
.gundong-top .bd ul { padding: 0px; margin-right: 10px; margin-left: 10px; }
.gundong-top .bd ul li { overflow: hidden; height: 65px; }
.gundong-top .bd li a { width: 33.33%; float: left; height: 55px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #e7e7e7; font-weight: 300; color: #000; overflow: hidden; }
.gundong-top .bd li a:hover { color: #C00; }
.gundong-top .bd ul li h3 { font-size: 14px; font-weight: 400; display: block; line-height: 24px; margin: 0px; padding: 0px; }
.gundong-top .bd ul li h3 b { color: #FFF; background-color: #666; display: block; float: right; padding-right: 10px; padding-left: 10px; font-size: 12px; margin-right: 25px; border-radius: 12px; font-family: "宋体"; font-weight: normal; }
.gundong-top .bd ul li h3 b:hover { background-color: #C00; }
.gundong-top .bd li s { height: 24px; line-height: 24px; font-size: 14px; color: #666; text-decoration: none; margin-right: 15px; }
.gundong-top .bd li i { color: #F00; font-size: 14px; font-style: normal; font-weight: normal; text-decoration: none; margin-right: 15px; }
.gundong-left { border: 1px solid #E7E7E7; overflow: hidden; }
.gundong-left .bd { }
.gundong-left .bd ul { zoom: 1; }
.gundong-left .bd ul li { }
.gundong-left .prev, .next { font-size: 14px; color: #CCC; margin-left: 5px; margin-right: 5px; cursor: pointer; }
.gundong-left .prev:hover, .gundong-left .next:hover { color: #0C6; }
.gundong-left .bd ul li a { display: block; height: 130px; border-right-width: 1px; border-right-style: solid; border-right-color: #e7e7e7; text-align: center; overflow: hidden; }
.hzhb { padding-bottom: 20px; }
.hzhb .nr h2, .yqlj .nr h2 { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #F2F2F2; line-height: 40px; padding-left: 20px; font-size: 18px; margin: 0px; }
.hzhb .nr ul { overflow: hidden; white-space: nowrap; }
.hzhb .nr ul li { float: left; width: 20%; display: inline; }
.hzhb .nr ul li img { max-width: 80%; }
.hzhb .nr h2 a, .yqlj .nr h2 a { float: right; font-size: 24px; color: #CCC; font-weight: normal; padding-left: 10px; }
.cp .nr h2 { line-height: 40px; margin-bottom: 10px; }
h2 a:hover { color: #0C6; }

.yqlj { margin-top: 10px; padding-bottom: 20px; clear: both;}
.yqlj .nr ul li { display: inline-block; border-left-width: 1px; border-left-style: solid; border-left-color: #E7E7E7; margin-left: 10px; padding-left: 10px; }
.yqlj .nr ul a { color: #000; font-weight: bold; }
.yqlj .nr ul li a { color: #333; font-weight: normal; font-size: 10pt; }
.tongji { border: 1px solid #e7e7e7; padding: 18px; margin-bottom: 20px; clear: both; }
.tab .nr p { line-height: 40px; }
.tbj { height: 200px; background-repeat: no-repeat; background-position: center center; }
.tbj .nr h1 { font-size: 36pt; line-height: 220px; color: #FFF; }
.nr .nrzuo { min-height: 600px; line-height: 200%; margin-top: 20px; margin-bottom: 20px; padding-right: 3%; border-right-width: 1px; border-right-style: solid; border-right-color: #E7E7E7; width: 76%; overflow: hidden; }
.nr .nryou { width: 22%; float: right; margin-top: 20px; }
.nr .nryou ul { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E7E7E7; padding-bottom: 10px; }
.nr .nryou img { margin-bottom: 10px; max-width: 100%; }
.nr h1 { font-size: 16pt; font-weight: normal; margin-bottom: 0px; color: #000; }
.nr h2 { font-size: 14pt; line-height: 30px; font-weight: bold; color: #000; }
.nr h3 { font-size: 11pt; margin-top: 0px; margin-bottom: 20px; color: #7F7F7F; }
.nr h5 { color: #666; margin-bottom: 20px; font-size: 9pt; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #E7E7E7; padding-bottom: 10px; }
.fy { border-top-width: 1px; border-top-style: solid; border-top-color: #E7E7E7; margin-top: 20px; padding-top: 20px; }
.fy a { display: block; line-height: 30px; color: #000; }
.fy a:hover { color: #337E7B; }
.lb1 .b34 ul h3 li a { margin: 0px; padding: 0px; height: auto; }
.flipto-prev, .flipto-next { position: absolute; visibility: visible; }
.k { width: 100%; overflow: hidden; overflow: auto; padding-bottom: 20px; }
.lb2 { }
.lb2 ul { overflow: hidden; }
.lb2 ul li { float: left; width: 33.33%; overflow: hidden; padding-top: 10px; height: 120px; }
.lb2 ul li a { padding: 15px; height: 80px; display: block; text-align: center; color: #666; box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.1), 0 0px 1px 0 rgba(0, 0, 0, 0.1); -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; margin: 10px; }
.lb2 ul li a:hover { box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 14px 0 rgba(0, 0, 0, 0.19); color: #F90; }
.lb2 ul li a b { font-size: 24px; height: 40px; width: 100px; display: block; float: left; margin-right: 10px; font-weight: lighter; overflow: hidden; text-align: center; }
.lb2 ul li a u { font-size: 14px; height: 20px; width: 100px; text-decoration: none; display: block; line-height: 20px; overflow: hidden; }
.lb2 ul h3 { font-size: 14px; padding: 10px; border: 1px solid #CCC; margin: 10px; }
.dkt { margin-bottom: 20px; border: 1px solid #e7e7e7; padding-right: 8px; padding-left: 8px; }
.dkt ul li a { padding-left: 20px; color: #333; }
.nr .nrzuo a:link { color: #10A578; }
.nr .nrzuo a:hover { color: #14D89D; }
.wbk { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCC; padding: 5px; width: 100%; margin-right: auto; margin-left: auto; line-height: 40px; height: 40px; margin-bottom: 15px; }
.fwbk { padding: 5px; width: 300px; margin-right: auto; margin-left: auto; line-height: 20px; height: 95px; margin-bottom: 15px; border: 1px solid #CCC; }

.but1 { margin-right: 7px; padding-right: 7px; padding-left: 7px; padding-top: 0px; padding-bottom: 0px; }
.but2 { margin-top: 20px; width: 100%; line-height: 40px; background-color: #39F; height: 40px; padding: 0px; color: #FFF; cursor: pointer; }
.dl { padding: 10px; border-radius: 3px; margin: 10px; }
.dl span { background-color: #39F; height: 2px; width: 40px; display: block; margin-bottom: 30px; }
.dl h3 { padding: 0px; margin-top: 0px; margin-bottom: 2px; font-size: 20px; font-weight: normal; }
.grzx li { line-height: 60px; height: 60px; position: relative; padding-right: 20px; padding-left: 20px; overflow: hidden; }
.grzx img { margin-right: auto; margin-left: auto; display: block; height: 70px; width: 70px; border-radius: 50%; }
.grzx p { text-align: center; margin-bottom: 10px; line-height: 50px; height: 50px; }
.grzx { margin-bottom: 20px; margin-top: 10px; background-color: #FFF; border-radius: 3px; }
.grzx li a { display: block; line-height: 60px; overflow: hidden; }
.grzx li i { line-height: 60px; height: 60px; top: 0px; right: 8px; position: absolute; color: #CCC; font-weight: lighter; }
.grzx li a i { position: static; color: #09F; margin-right: 10px; }
.but3 { text-align: center; margin-top: 10px; margin-bottom: 10px; display: block; color: #096; }
.layui-form .layui-form-item .layui-input-block { margin-left: 0px; }
.grzx li a b { font-weight: normal; }
.tab .nr .ssb { float: right; }
.vip { float: right; margin-top: 10px; }
.vip a { line-height: 30px; padding-right: 7px; padding-left: 7px; color: #31897D; display: inline-block; border-radius: 3px; margin-left: 8px; border: 1px solid #31897D; font-size: 12px; }

.rwm { float: right; width: 150px; margin-right: 40px; margin-top: 40px; }
.rwm p{ line-height: 40px; text-align: center; }

#qrcode { height: 150px; width: 150px; line-height: 150px; text-align: center; }
.fl a { padding-right: 8px; padding-left: 8px; }
.wddy { background-color: #FFF; padding: 20px; border-radius: 3px; }
.wddy a { color: #09F; float: right; }
.wddy h3 { font-size: 14px; font-weight: normal; color: #333; margin-bottom: 10px; }
.wddy p { font-size: 12px; color: #666; margin-bottom: 6px; }
.fyzm { position: absolute; z-index: 1; top: 7px; right: 0px; color: #FFF; background-color: #39F; line-height: 26px; font-size: 12px; padding-right: 8px; padding-left: 8px; cursor: pointer; }

.pc{ display: block; }
.sj{ display: none; }
@media screen and (max-width: 800px) {
.pc{ display: none; }
.sj{ display: block; }
}
.gg4 { margin-bottom: 20px; overflow: hidden; }
.gg4 a { display: block; float: left; width: 20%; }
.gg4 a img { text-align: center; display: block; padding: 2px; border: 1px solid #dcdcdc; }
